body {
  background-image: url(background.jpg);
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4rem;
  background-color: white;
  width: fit-content;
  padding: 3rem;
  padding-top: 0rem;
  border-radius: 0.4rem;
  min-width: 16rem;
}
h1 {
  font-family: sans-serif;
  border-bottom: 2px solid;
  width: 100%;
  padding-bottom: 1rem;
}
#question {
  font-size: 1.1rem;
  font-family: sans-serif;
  max-width: 21rem;
  line-height: 1.8;
}

#quizBtn {
  font-size: 1.1rem;
  background: #034db6;
  color: white;
  padding: 0.6rem;
  padding-left: 1rem;
  border: 0px solid;
  cursor: pointer;
  margin-top: 1rem;
  transition: 0.1s;
}
#quizBtn::after {
  content: "➡";
  margin-left: 0.3rem;
}
span {
  font-family: sans-serif;
  font-weight: 500;
  cursor: default;
}
#questionOption {
  line-height: 2.2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}